h1 {
  color: rgb(200,200,200);
  font-family: "verdana", arial, sans-serif;
}
h2 {
  font-family: "verdana", arial, sans-serif;
  color: rgb(255,255,255);
}
h3 {
  color: rgb(255,255,255);
}
h4 {
  color: rgb(255,255,255);
}
img {
  width: 600px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(50,50,50);
  }
  body {
    background-color: rgb(34,34,34);
    background-image: url("https://cloud.githubusercontent.com/assets/8130577/3563942/5a9d7a1a-0a60-11e4-8d2c-e442d3f6e2bd.jpg");
a {
  font-family: "arial";
  color: rgb(255,255,255);
}
p {
  color: rgb(200,200,200);
  width: 600px;
}
