html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
	background-repeat: no-repeat;
	background-repeat : no-repeat;
	background-position: center 0;
	background-image: url("https://raw.githubusercontent.com/ronandersondesigns/graphicdesigner/gh-pages/images/middlebackground.jpg"),url("https://raw.githubusercontent.com/ronandersondesigns/graphicdesigner/gh-pages/images/websitebackground.jpg");
    background-size: 750px, 1500px,
    background-size: cover,
	-webkit-background-size: cover;
	-moz-background-size: cover;
	margin-left: auto;
	margin-right: auto;
	top: auto;
	bottom: auto;
	border-width: 0px;
	height: auto;
}
.content{
	margin-top: 82px;
	margin-bottom: -10px;
	margin-right: 0px;
	margin-left: 0px;
}
.col-TopMargin{
    display: inline-block;
    text-align: center;
    width:100%;
    float: center;
    min-height: 60px;
}
.col-LowMargin{
    display: inline-block;
    text-align: center;
    width:100%;
    float: center;
    min-height: 30px;
}
.logo{
    position: static;
    max-width: 745px;
    margin: 0 auto;    
    width:100%;
    
    max-width: 500px;
    
   
}
.buttons{
    position: static;
    max-width: 745px;
    margin: 0 auto;
}
.text{
    position: static;
    max-width: 660px;
    max-width: 700px;
    margin: 0 auto;
	font-family: 'roboto', sans-serif;
	color: rgba(73,73,73,1.00);	
    
}
.col-title{
    color: rgba(71, 91, 130,1.00);	
    display: inline-block;
    font-size: 12pt;
    text-align: center;
    width:100%;
    float: center;
    min-height: 40px;
    min-height: 20px;
    padding: 6px;
}
.col-RC{
    display: inline-block;
    font-size: 11pt;
    text-align: left;
    width: 300px;
    min-height: 220px;
    width: 50%;
    float: left;
    padding: 6px;
    min-height: 252px;
}
.col-freelance{
    display: inline-block;
    text-align: left;
    font-size: 11pt;
    width:300px;
    min-height: 120px;
    float: left;
}
.col-gutter{
    display: inline-block;
    text-align: left;
    font-size: 11pt;
    width:39px;
    min-height: 120px;
    width:50%;
    min-height: 112px;
    float: left;
    padding: 6px;
}

.col-center{
    display: inline-block;
    text-align: center;
    font-size: 11pt;
    width:100%;
    float: center;
    min-height: 10px;
    padding: 6px;
}
.col-sony{
    display: inline-block;
    text-align: center;
    font-size: 11pt;
    width:100%;
    float: center;
    min-height: 30px;
    min-height: 40px;
    padding: 6px;
}
.col-edu{
    display: inline-block;
    text-align: center;
    font-size: 11pt;
    width:100%;
    float: center;
    min-height: 30px;
}
a {
	font-family: 'Roboto', sans-serif;
	color: rgba(73,73,73,1.00);
	letter-spacing: 5px;
	word-spacing: 77px;
	cursor: pointer; cursor: hand;
}
p {
	font-family: 'Roboto', sans-serif;
	color: rgba(73,73,73,1.00);
}
a:link {
    text-align: center;
    text-decoration: none;
    letter-spacing: 5px;
    word-spacing: 77px;
}
a:visited {
     text-align: center;
    letter-spacing: 5px;
	word-spacing: 77px;
}
a:hover {
	 text-align: center;
	color: #717A92;
	letter-spacing: 5px;
	word-spacing: 77px;
}
a:active {
     text-align: center;
	text-decoration: none;
	letter-spacing: 5px;
	word-spacing: 77px;
	padding-left: 0px;
}
